# Dependencies
node_modules/

# Build outputs
dist/
target/
src-tauri/binaries/*
src-tauri/tauri-updater.key

# OS files
.DS_Store
Thumbs.db

# Editor
.vscode/*
!.vscode/extensions.json
.idea/

# Logs
*.log
